<!DOCTYPE html>
<html>
	<head>

	<title>Time Stack</title>

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.tmpl.js"></script>
		<script type="text/javascript" src="js/knockout.js"></script>
		<script type="text/javascript" src="js/spin.js"></script>
		<script type="text/javascript" src="js/mapping.js"></script>
		<script type="text/javascript" src="js/js.js"></script>
				
		<link rel="stylesheet" href="css.css" />

	</head>

	<body>
		
		<button class="button right" data-bind="click: function() { timeStacks.removeAll() } ">Clear</button>
		<!-- ko with viewModel -->
			
			<!-- ko ifnot: url -->
			
				<input name="url" type="url" data-bind="value: url" />
			
			<!-- /ko -->
			
			<ul class="urls" data-bind="foreach: timeStacks">
			    
			    <li>
			    	
			    	<h1 data-bind="text: url"></h1>
			    	
			    	<ul class="stack" data-bind='template: {name : "stackOperation", data: $data }' ></ul>
			    	
			    </li>
				
			</ul>

		<!-- /ko -->
		
		<script id="stackOperation" type='text/html'>
        	<li data-bind="attr: { class: type }">
        		<h2 data-bind="text: label"></h2>
        			
        			{{if $data.type() == 'HM_Time_Stack_Operation'}}
		        		<span class="memory-usage"><span data-bind="text: memoryUsage"></span>MB</span>
		        		<a href="#" data-bind="click: function() { $data.queriesExpanded() ? $data.queriesExpanded(false) :  $data.queriesExpanded(true) }, clickBubble: false" class="query_num">Queries [<span data-bind="text: queries().length"></span>] (<span data-bind="text: queryTime"></span>)</a>

		        		<span class="duration"><span data-bind="text: duration"></span>sec</span>
	        		{{/if}}

	        		{{if $data.type() == 'HM_Time_Stack_Event'}}
		        		<em class="memory-usage"><span data-bind="text: memoryUsage"></span>MB in</em>

		        		<em class="duration"><span data-bind="text: json.time"></span>sec in</em>
	        		{{/if}}

	        		{{if $data.queriesExpanded() == true }}
	        			awdawdwd
	        			<table>
	        				{{each $data.queries()}}
	        				<tr>
	        					<td>${ $value.query() }</td>
	        					<td>${ $value.duration }>/td>
	        				</tr>
	        				{{/each}}
	        			</table>
	        		{{/if}}
        		
		        	<ul data-bind='template: {name : "stackOperation", foreach: $data.children }'></ul>
		        
        	</li>
    	</script>
    
	</body>

</html>